######################## Build Tools #######################

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

############################ IDE ###########################

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml
### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

########################## Others ##########################、

### Log ###
*.log
logs

### Mac OS ###
.DS_Store

*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml





